.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.datetimePicker {
    width: 100%;
}

.datePickerContainer {
    background-color: transparent;
    // background-color: var(--main-color);
    border: 0px;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    color: white;
    margin-left: 20px;
    flex-grow: 1;

    &::placeholder {
        color: rgba(255, 255, 255, 0.362);
    }

}