.purchContainer {
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bodyCont {
        width: 80%;
        display: flex;
        flex-direction: column;

        .pageHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .headerLeft {
                margin-right: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                text-decoration: none;
                color: white;

                .backIcon {
                    font-size: 30px;
                }

                .headerTitle {
                    font-size: 30px;
                }
            }

            .closeIcon {
                font-size: 30px;
                text-decoration: none;
                color: white;
            }
        }



        .pageBody {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            gap: 10px;

            .bodyLeft {
                width: 40%;
                height: 200px;
                display: flex;
                flex-direction: row;
                
                .picture{
                    width: 100px;
                    height: 100px;
                    border-radius: 15px;
                    // padding: 10px;
                }

                .details{
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    .artist{
                        color: white;
                        font-size: 22px;
                        
                    }
                    .locationCont{
                        color:#a29bb1 ;
                        font-size: 18px;
                    }
                    .dateCont{
                        color:#a29bb1 ;
                        font-size: 18px;
                    }
                }
            }

            .bodyRight {
                width: 50%;
                min-height: 500px;
                border-radius: 20px;
                margin-bottom: 20px;
                background: rgb(20, 13, 42);
                background: linear-gradient(0deg, rgba(20, 13, 42, 1) 5%, rgba(67, 57, 97, 1) 92%);
                padding: 10px;
                .priceTicket{
                    display: flex;
                    // flex-direction: column;
                    // align-content: center;
                    justify-content: center;
                   
                }
            }

            .category {
                // position: absolute;
                // bottom: 110px;
                // left: 60px;
                z-index: 100;
                color: white;
                font-size: 20px;
                font-weight: 300;
            }

            .artist {
                // position: absolute;
                // bottom: 50px;
                // left: 50px;
                z-index: 100;
                color: white;
                font-size: 35px;
                font-weight: 600;

            }

            .des {
                font-size: 25px;
                font-weight: 400;
                margin-left: 20px;
                padding-top: 20px;
            }
        }
    }
}

// .getTicket {
//     width: 90px;
//     height: 60px;
//     background-color: var(--main-color);
//     color: white;
//     z-index: 5;
//     position: absolute;
//     padding-left: 8px;
//     padding-right: 8px;
//     align-items: center;
//     left: 340px;
//     top: 290px;
//     border-radius: 8px;
//     border: none;
//     cursor: pointer;
//     box-shadow: 4px 4px 30px 4px rgba(255, 255, 255, 0.22);


//     &:hover {
//         background-color: var(--hover-main);
//     }
// }