.priceTicket {
  border: 1px solid rgb(177, 175, 184);
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 95%;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px 10px;


  .titels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titel {
      color: rgb(180, 180, 190);
      font-size: 16px;
    }

    .subTitel {
      color: white;
      font-size: 12px;
      width: 150px;
    }
  }

  .titelss {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .price {
      color: #82ffca;
      font-size: 20px;
    }

    .getTicket {

      .num {
        padding: 5px;
      }

      .btn {
        height: 30px;
        width: 30px;
        border-radius: 8px;
        font-size: 21px;
        background-color: white;
      }

    }
  }
}