.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

// .secondCont{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     // width: 100vw;
    
    // }
    
    
    .formContainer {
        margin: 15px;
    border-radius: 15px;
    max-width: 600px;
    background: rgb(20, 13, 42);
    background: linear-gradient(0deg, rgba(20, 13, 42, 1) 5%, rgba(67, 57, 97, 1) 92%);
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;


    .inputLabel {
        display: flex;
        align-items: center;


        .inputText {
            background-color: var(--main-color);
            border: 0px;
            padding: 10px;
            border-radius: 12px;
            margin: 10px;
            color: white;
            margin-left: 20px;
            flex-grow: 1;

            &::placeholder {
                color: rgba(255, 255, 255, 0.362);
            }
        }

    }

    .desCont {
        display: flex;
        flex-direction: row;

        .inputLabelTextarea {
            padding-top: 10px;
        }

        .inputTextarea {
            background-color: var(--main-color);
            border: 0px;
            padding: 10px;
            border-radius: 12px;
            margin: 10px;
        }

    }

    .artistOptions {
        padding: 10px;
        border-radius: 14px;
        background-color: var(--main-color);
        color: white;
        margin: 10px;

        .artistSingle {
            background-color: var(--main-color);
            color: white;

        }

    }

    .createButton{
        background-color:var(--hover-main);
        color: white;
        padding: 16px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}

.addArtistButton{
    background-color: var(--main-color);
    border: 0px;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
    color: white;
    cursor: pointer;

    &:hover{
        background-color: var(--second-main);
    }
}